#Task 2 - Superstore_USA
1 . load this data in sql and in pandas with a relation in sql 
2 . while loading this data you dont have to create a table manually you can use any automated approach to create a table and load a data in bulk in table 
3 . Find out how return that we ahve recived and with a product id 
4 . try  to join order and return data both in sql and pandas 
5 . Try to find out how many unique customer that we have 
6 . try to find out in how many regions we are selling a product and who is a manager for a respective region 
7 . find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset 
8 . Create a new coulmn and try to find our a diffrence between order date and shipment date
9 . base on question number 8 find out for which order id we have shipment duration more than 10 days 
10 . Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well 
11 . Gorup by region and find out which region is more profitable 
12 . Try to find out overalll in which country we are giving more didscount 
13 . Give me a list of unique postal code 
14 . which customer segement is more profitalble find it out . 
15 . try to find out the 10th most loss making product catagory . 
16 . Try to find out 10 top  product with highest margins

In [212]:
import pandas as pd
import csvkit
import MySQLdb
import datetime

In [12]:
usa = pd.read_csv(r"C:\Users\harsh\Downloads\Superstore_USA.csv")

In [13]:
usa_return = pd.read_csv(r"C:\Users\harsh\Downloads\Superstore_USA_Returns.csv")

In [14]:
usa_managers = pd.read_csv(r"C:\Users\harsh\Downloads\Superstore_USA_user.csv")

In [15]:
usa.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,28-05-2012,30-05-2012,1.3200,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,07-07-2010,08-07-2010,4.5600,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,27-07-2011,28-07-2011,-47.6400,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,27-07-2011,28-07-2011,-30.5100,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,27-07-2011,27-07-2011,998.2023,8,1446.67,88523

In [16]:
!csvsql --db mysql://root:1234@127.0.0.1:3306/superstore --insert Superstore_USA.csv

c:\users\harsh\anaconda3\lib\site-packages\win32\lib\pywintypes.py:2: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
c:\users\harsh\anaconda3\lib\site-packages\agate\table\from_csv.py:70: RuntimeWarning: Error sniffing CSV dialect: Could not determine delimiter
OperationalError: (MySQLdb.OperationalError) (1050, "Table 'superstore_usa' already exists")
[SQL:
CREATE TABLE `Superstore_USA` (
	`Row ID` DECIMAL(38, 0) NOT NULL,
	`Order Priority` VARCHAR(13) NOT NULL,
	`Discount` DECIMAL(38, 2) NOT NULL,
	`Unit Price` DECIMAL(38, 2) NOT NULL,
	`Shipping Cost` DECIMAL(38, 2) NOT NULL,
	`Customer ID` DECIMAL(38, 0) NOT NULL,
	`Customer Name` VARCHAR(28) NOT NULL,
	`Ship Mode` VARCHAR(14) NOT NULL,
	`Customer Segment` VARCHAR(14) NOT NULL,
	`Product Category` VARCHAR(15) NOT NULL,
	`Product Sub-Category` VARCHAR(30) NOT NULL,
	`Product Container` VARCHAR(10) NOT NULL,
	`Product Name` VARCHAR(98) NOT NULL,
	`Product Base Margin` DECIMAL(38, 2),
	`Region` VARCHAR(7) NOT NULL,
	`State or Province` VARCHAR(20) NOT NULL,
	`City` VARCHAR(19) NOT NULL,
	`Postal Code` DECIMAL(38, 0) NOT NULL,
	`Order Date` VARCHAR(10) NOT NULL,
	`Ship Date` VARCHAR(10) NOT NULL,
	`Profit` DECIMAL(38, 7) NOT NULL,
	`Quantity ordered new` DECIMAL(38, 0) NOT NULL,
	`Sales` DECIMAL(38, 2) NOT NULL,
	`Order ID` DECIMAL(38, 0) NOT NULL
)

]
(Background on this error at: http://sqlalche.me/e/13/e3q8)
C:\Users\harsh\anaconda3\lib\threading.py:874: ResourceWarning: unclosed file <_io.BufferedWriter name=4>
C:\Users\harsh\anaconda3\lib\threading.py:874: ResourceWarning: unclosed file <_io.BufferedReader name=5>
C:\Users\harsh\anaconda3\lib\threading.py:874: ResourceWarning: unclosed file <_io.BufferedReader name=6>

In [25]:
#q3 . Find out how return that we ahve recived and with a product id

In [38]:
d1 = pd.DataFrame(usa[['Order ID','Product Name']])
d2 = pd.DataFrame(usa_return['Order ID'])
return_data = pd.merge(d1,d2,how = 'right')
return_data

      Order ID Product Name
0           65          NaN
1          612   Xerox 1928
2          612         6190
3          614          NaN
4          678          NaN
...        ...          ...
1666    182681          NaN
1667    182683          NaN
1668    182750          NaN
1669    182781          NaN
1670    182906          NaN

[1671 rows x 2 columns]

In [41]:
#q4 . try to join order and return data.

In [43]:
#solved same as q3
d_2 = pd.DataFrame(usa_return[['Order ID','Status']])
return_data = pd.merge(d1,d_2,how = 'right')
return_data

      Order ID Product Name    Status
0           65          NaN  Returned
1          612   Xerox 1928  Returned
2          612         6190  Returned
3          614          NaN  Returned
4          678          NaN  Returned
...        ...          ...       ...
1666    182681          NaN  Returned
1667    182683          NaN  Returned
1668    182750          NaN  Returned
1669    182781          NaN  Returned
1670    182906          NaN  Returned

[1671 rows x 3 columns]

In [44]:
# 5) try to find number of unique customers.

In [84]:
usa['Customer Name'].to_frame().nunique()

Customer Name    2703
dtype: int64

In [71]:
pd.DataFrame(usa['Customer Name'].unique())

                    0
0     Janice Fletcher
1       Bonnie Potter
2      Ronnie Proctor
3        Dwight Hwang
4           Leon Gill
...               ...
2698    Marc McDaniel
2699      Marvin Reid
2700    Florence Gold
2701   Frederick Cole
2702    Tammy Buckley

[2703 rows x 1 columns]

In [72]:
#6) try to find region in which product is available and who is the manager.

In [75]:
reg = pd.DataFrame(usa[['Region','Product Name','State or Province','City','Postal Code']])
mang = pd.DataFrame(usa_managers[['Region','Manager']])
pd.merge(reg,mang,how = 'left')

,Region,Product Name,State or Province,City,Postal Code,Manager
0,Central,Avery 49,Illinois,Addison,60101,Chris
1,West,SANFORD Liquid Accentâ„¢ Tank-Style Highlighters,Washington,Anacortes,98221,William
2,West,Xerox 1968,Washington,Anacortes,98221,William
3,West,AcmeÂ® Preferred Stainless Steel Scissors,Washington,Anacortes,98221,William
4,West,V70,Washington,Anacortes,98221,William
...,...,...,...,...,...,...
9421,East,Jet-Pak Recycled Peel 'N' Seal Padded Mailers,West Virginia,Charleston,25314,Erin
9422,East,"Eldon SpacemakerÂ® Box, Quick-Snap Lid, Clear",West Virginia,Charleston,25314,Erin
9423,East,Chromcraft Bull-Nose Wood Oval Conference Tabl...,West Virginia,Charleston,25314,Erin
9424,West,"Tenex 46"" x 60"" Computer Anti-Static Chairmat,...",Wyoming,Cheyenne,82001,William
9425,West,Staples #10 Colored Envelopes,Wyoming,Cheyenne,82001,William

In [76]:
# 7) find out different shipment mode and the respective percentages.

In [92]:
ship = usa['Ship Mode'].to_frame(name='mode')
ship['mode'].unique()

array(['Regular Air', 'Express Air', 'Delivery Truck'], dtype=object)

In [87]:
pd.DataFrame(usa['Ship Mode']).nunique()

Ship Mode    3
dtype: int64

In [105]:
mode1 = (len(ship[ship['mode'] == 'Regular Air']) / len(ship) ) * 100

In [106]:
mode2 = (len(ship[ship['mode'] == 'Express Air']) / len(ship) ) * 100

In [107]:
mode3 = (len(ship[ship['mode'] == 'Delivery Truck']) / len(ship) ) * 100

In [148]:
modes = {
    'Mode' : ['Regular Air','Express Air','Delivery Truck'],
    'Percentage' : [mode1,mode2,mode3]
}

In [149]:
modes = pd.DataFrame(modes)

In [ ]:
# 8) Create a new column and try to find out difference between order date and shipment date

In [217]:
usa['Conv_OrderDate'] = pd.to_datetime(usa['Order Date'])
#usa['Conv_ShipDate'] = pd.to_datetime(usa['Ship Date'])

usa['date'] = pd.to_datetime(usa['Ship Date'], format='%Y-%m-%d')

ValueError: time data 30-05-2012 doesn't match format specified

In [178]:
usa['Shipment Duration'] = usa['Conv_ShipDate'] - usa['Conv_OrderDate']

In [179]:
# 9) for que 8 find out where duration is more than 10 days.

In [195]:
# we have to first convert conv_date column into str format and then strip the 'days' then convert back to int to use the int data to calculate

usa['Shipment Days'] = usa['Shipment Duration'].astype(str)
#usa['Shipment Days'] = usa['Shipment Duration1'].str.replace('days', '')
usa['Shipment Days'] = usa['Shipment Duration1'].astype(int)

In [203]:
# shipping duration more than 10 days
mid_ship = usa[usa['Shipment Days']>10]
mid_ship

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Conv_OrderDate,Conv_ShipDate,Shipment Duration,Shipment Days
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,07-07-2010,08-07-2010,4.560000,4,13.01,88522,2010-07-07,2010-08-07,31 days,31
5,23597,Medium,0.09,55.48,14.30,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,09-11-2011,11-11-2011,1388.052300,37,2011.67,88524,2011-09-11,2011-11-11,61 days,61
6,25549,Low,0.08,120.97,26.30,3,Bonnie Potter,Delivery Truck,Corporate,Technology,...,01-07-2013,08-07-2013,1001.445300,12,1451.37,88526,2013-01-07,2013-08-07,212 days,212
16,22241,Critical,0.06,15.57,1.39,10,Meredith Norris Thomas,Regular Air,Home Office,Office Supplies,...,04-10-2011,05-10-2011,142.795500,14,206.95,90195,2011-04-10,2011-05-10,30 days,30
24,18181,Critical,0.00,4.42,4.99,15,Timothy Reese,Regular Air,Small Business,Office Supplies,...,08-04-2010,09-04-2010,-59.820000,7,33.47,86837,2010-08-04,2010-09-04,31 days,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9405,21952,Not Specified,0.05,10.91,2.99,3397,Andrea Shaw,Regular Air,Corporate,Office Supplies,...,09-07-2013,11-07-2013,-11.673144,1,12.48,87547,2013-09-07,2013-11-07,61 days,61
9406,22599,Critical,0.01,177.98,0.99,3398,Marc McDaniel,Regular Air,Corporate,Office Supplies,...,07-05-2011,09-05-2011,902.106000,7,1307.40,87538,2011-07-05,2011-09-05,62 days,62
9415,26043,Not Specified,0.06,30.98,6.50,3400,Florence Gold,Regular Air,Corporate,Technology,...,04-07-2012,07-07-2012,-113.600000,3,96.79,87540,2012-04-07,2012-07-07,91 days,91
9419,24912,Medium,0.05,35.99,1.25,3400,Florence Gold,Regular Air,Small Business,Technology,...,04-10-2013,05-10-2013,411.481500,19,596.35,87549,2013-04-10,2013-05-10,30 days,30
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,08-02-2010,11-02-2010,349.485000,5,506.50,87530,2010-08-02,2010-11-02,92 days,92

In [201]:
#usa.drop('Shipment Duration1',axis=1,inplace=True)

In [204]:
# 10) find returned shipments for which number of days >15

In [206]:
returned_ship = pd.merge(usa,usa_return,how='inner')

In [210]:
returns_shipment_days = returned_ship[returned_ship['Shipment Days']>15]
returns_shipment_days

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Conv_OrderDate,Conv_ShipDate,Shipment Duration,Shipment Days,Status
1,1950,Medium,0.01,4.91,0.50,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,06-04-2010,112.060000,47,228.46,13959,2010-04-04,2010-06-04,61 days,61,Returned
2,1951,Medium,0.09,4.00,1.30,117,Linda Weiss,Express Air,Home Office,Office Supplies,...,06-04-2010,16.790000,19,77.61,13959,2010-04-04,2010-06-04,61 days,61,Returned
8,5257,Low,0.09,550.98,64.59,349,Kim Weiss,Delivery Truck,Home Office,Furniture,...,11-09-2012,-1770.965977,76,40136.93,37414,2012-09-09,2012-11-09,61 days,61,Returned
9,6643,Critical,0.02,5.98,5.46,349,Kim Weiss,Regular Air,Home Office,Office Supplies,...,11-12-2012,-80.903900,62,374.26,47265,2012-10-12,2012-11-12,31 days,31,Returned
10,979,Medium,0.01,280.98,57.00,478,Michael Wiggins,Delivery Truck,Small Business,Furniture,...,09-02-2011,-416.700000,44,12296.49,7079,2011-08-02,2011-09-02,31 days,31,Returned
11,980,Medium,0.03,6.48,5.94,478,Michael Wiggins,Regular Air,Small Business,Office Supplies,...,10-02-2011,-34.910000,18,128.13,7079,2011-08-02,2011-10-02,61 days,61,Returned
28,7966,High,0.05,7.99,5.03,1060,Gene Gilliam,Regular Air,Small Business,Technology,...,05-02-2011,-147.090020,34,232.42,56931,2011-03-02,2011-05-02,61 days,61,Returned
31,3435,Critical,0.03,5.34,5.63,1106,Maxine Collier Grady,Regular Air,Consumer,Office Supplies,...,12-06-2012,-60.720000,36,208.73,24519,2012-11-06,2012-12-06,30 days,30,Returned
43,5883,Low,0.00,9.98,12.52,1228,Hazel Jennings,Regular Air,Small Business,Furniture,...,03-02-2013,-213.088000,24,269.95,41760,2013-01-27,2013-03-02,34 days,34,Returned
51,5252,Critical,0.08,26.64,5.30,1314,Keith Marsh,Regular Air,Home Office,Furniture,...,02-04-2012,90.040000,32,813.66,37380,2012-01-04,2012-02-04,31 days,31,Returned
52,5253,Critical,0.00,9.99,4.78,1314,Keith Marsh,Regular Air,Home Office,Office Supplies,...,02-04-2012,74.730000,53,571.93,37380,2012-01-04,2012-02-04,31 days,31,Returned
53,5254,Critical,0.07,3.55,1.43,1314,Keith Marsh,Regular Air,Home Office,Office Supplies,...,02-04-2012,27.370000,47,169.19,37380,2012-01-04,2012-02-04,31 days,31,Returned
54,6878,High,0.08,17.67,8.99,1314,Keith Marsh,Regular Air,Home Office,Furniture,...,12-04-2012,35.080000,46,795.27,49027,2012-11-04,2012-12-04,30 days,30,Returned
55,7626,Critical,0.01,20.24,8.99,1318,Vickie Becker,Regular Air,Home Office,Furniture,...,06-10-2011,35.096000,43,938.05,54563,2011-04-10,2011-06-10,61 days,61,Returned
58,2771,Not Specified,0.03,150.98,66.27,1723,Constance Flowers,Delivery Truck,Corporate,Furniture,...,08-12-2011,-533.440000,52,8119.28,20036,2011-05-12,2011-08-12,92 days,92,Returned
59,2772,Not Specified,0.03,95.99,4.90,1723,Constance Flowers,Regular Air,Corporate,Technology,...,07-12-2011,307.251000,39,3240.93,20036,2011-05-12,2011-07-12,61 days,61,Returned
61,2774,Not Specified,0.03,26.31,5.89,1723,Constance Flowers,Regular Air,Corporate,Technology,...,07-12-2011,-25.230000,81,2222.71,20036,2011-05-12,2011-07-12,61 days,61,Returned
64,1801,High,0.08,12.64,4.98,1999,Priscilla Kane,Regular Air,Corporate,Furniture,...,04-05-2011,100.040000,73,915.60,12900,2011-03-05,2011-04-05,31 days,31,Returned
65,1802,High,0.08,306.14,26.53,1999,Priscilla Kane,Delivery Truck,Corporate,Technology,...,05-05-2011,308.220000,26,5916.75,12900,2011-03-05,2011-05-05,61 days,61,Returned
66,5165,Critical,0.10,7.59,4.00,1999,Priscilla Kane,Regular Air,Home Office,Furniture,...,09-09-2013,-10.610000,6,52.26,36743,2013-08-09,2013-09-09,31 days,31,Returned
71,1008,High,0.09,16.98,12.39,2189,Frank Cross,Regular Air,Corporate,Office Supplies,...,10-05-2010,-48.570000,22,381.91,7364,2010-08-05,2010-10-05,61 days,61,Returned
76,6167,Medium,0.05,2.60,2.40,2548,Wayne Bass,Regular Air,Small Business,Office Supplies,...,09-09-2013,-17.690000,25,71.69,43713,2013-07-09,2013-09-09,62 days,62,Returned
81,1868,High,0.06,4.76,0.88,2645,Ronnie Dodson,Regular Air,Consumer,Office Supplies,...,08-01-2013,21.848000,36,168.48,13444,2013-05-01,2013-08-01,92 days,92,Returned
86,998,High,0.03,896.99,19.99,2867,Dana Teague,Regular Air,Corporate,Office Supplies,...,10-01-2013,3718.539200,28,24362.25,7203,2013-08-01,2013-10-01,61 days,61,Returned
93,986,Not Specified,0.06,37.94,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,...,06-01-2013,-33.968000,3,113.14,7107,2013-04-01,2013-06-01,61 days,61,Returned
94,987,Not Specified,0.10,55.29,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,...,05-01-2013,163.120000,35,1886.52,7107,2013-04-01,2013-05-01,30 days,30,Returned